.DS_Store

*.swp
*~

bin/
lib/

#Javadoc
ducktales/doc/

# Gradle
build
.gradle

# Eclipse
.project
.classpath
.settings
.metadata

# IntelliJ IDEA
*.iml
.idea

# Crash reports
*.log

# Database

/bin


# Merge conflicts
*.orig


# Local sonar installations
sonar-project.properties
.sonar/
