@font-face {
    src: url('fonts/PressStart2P.ttf');
}


#weatherEffectPane {		
	-fx-background-repeat: repeat;
}

#mainMenuPane {
	-fx-background-color: #000;	
	-fx-background-image: url('menu/stars.jpg');
	-fx-font-family: "Press Start 2P";
	-fx-font-size: 20px;	
	-fx-text-fill: white;
}

.buttonImage {	
	-fx-background-color: transparent;
	-fx-background-size: auto 45px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;	
	-fx-text-fill: white;
	-fx-alignment: center-left;
	-fx-padding: 0px 0px 0px 50px;
}

.buttonImage:hover { 
	-fx-background-image: url("menu/duckicon.png");
	-fx-background-size: 30px;
	-fx-background-position: left;	
}

.inventoryMenu {
    -fx-background-color: #A7AA9F;

}
.inventoryMenuItem {
    -fx-background-color: #F0EDE4;
}