#mainMenuPane {
	-fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #DCF0F2 0%, #78B9F4 100%);
}
.worldPane {
    -fx-background-color: #F0EDE4;
    -fx-border-color: #574940;
    -fx-border-insets: 0;
    -fx-border-width: 2;
}
.buttonsMenu {
    -fx-background-color: #A7AA9F;
}
.buildingsMenu {
    -fx-background-color: #A7AA9F;
}