@font-face {
    src: url('../../fonts/PressStart2P.ttf');
}

#lightboxPane {
	-fx-background-color: #000000;
}

.gamePane {
    

}
.leftPane {
    
}

#keyboardShortcuts {
	-fx-font-family: "Press Start 2P";
}

/*
.bottomPane {	
	-fx-background-image: url("../../hud/hud.png");
	-fx-background-size: 200px auto;
}
*/