@font-face {
    src: url('../../fonts/PressStart2P.ttf');
}

.gamePane {
    

}
.leftPane {
    
}

/*
.bottomPane {	
	-fx-background-image: url("../../hud/hud.png");
	-fx-background-size: 200px auto;
}
*/