@font-face {
    src: url('../../fonts/PressStart2P.ttf');
}

#menuPane {
    -fx-background-image: url("../../hud/hud.png");
    -fx-background-size: 100% auto;    
}

.optionButton {
	-fx-font-family: "Press Start 2P";
	-fx-font-size: 7px;
	-fx-background-color: transparent;
	-fx-text-fill: white;	
	-fx-background-size: auto 14px;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#showBuildingsButton {
	-fx-background-image: url("../../ui/hud/buildings.png");
}

#showBuildingsButton:hover {
	-fx-background-image: url("../../ui/hud/buildings-hover.png");
}

#showAnimalsButton {
	-fx-background-image: url("../../ui/hud/animals.png");
}

#showAnimalsButton:hover {
	-fx-background-image: url("../../ui/hud/animals-hover.png");
}

.optionButton:hover {
	-fx-text-fill: #fff568;
	-fx-cursor: hand;	
}

.optionText {
	-fx-font-family: "Press Start 2P";
	-fx-font-size: 8px;
	-fx-background: #000;
	-fx-fill: #fff568;	
}